---
layout: layouts/base.njk
eleventyNavigation:
  key: Players
  order: 3
---
<h1>Player Archive</h1>

{% set postslist = collections.players %}
{% include "postslist.njk" %}

{% include "postslist-cards.njk" %}
