<div class="maincontainer">


{% for post in postslist | reverse %}
        <div class="characterbox">
            <div class="toprow">
			{% if post.data.playerPicture%}
                <div class="imgcontainer">
				<img class="characterportrait" src="/img/players/{{post.data.playerPicture}}"></div> 
				{% endif %}
			{% if post.data.guildLogo %}<img class="characterportrait" src="{{post.data.guildLogo}}"> {% endif %}
                    <div class="topright">
                        <h3 class="charactername"> {{post.data.title}}</h3>
                        {% if post.data.GuildMain %}<p class="characterguilds"> [{{post.data.GuildMain}}], [{{guildWR}}]</p> {% endif %}
                    </div>
                </div>
           {% if post.data.quote %} <div class="charactermotto">
                <p>{{post.data.quote}}</p>
                <p class="quotemark">❞</p> {% endif %}
            </div>     

{% endfor %}
        </div>